@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.mainWrapper {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 2rem;
}

.questionListItem {
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  min-height: min-content;
  padding: 18px;
  border-bottom: 1px solid #eee;
}

.questionTitle {
  margin: 0;
  padding: 0.5rem 0;
  font-family: 'Noto Serif', serif;
}

.bottomBar {
  display: flex;
  color: #BBB;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.watchList {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 6px;
  list-style-type: none;
}


.answers article {
  display: flex;
  height: min-content;
  flex-direction: row;
  gap: 1rem;
}

.answerer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0.5rem;
}

.answererResponse {
  flex: 3;
}

.answererName {
  font-weight: 600;
}

.answererTitle {
  font-style: italic;
  font-size: 0.85rem;
}

.answerbox {
  margin: 2rem 0;
}

.answerbox > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.answerbox > form textarea {
  line-height: 1.5;
  padding: 1rem;
  flex: 1;
  min-height: 10rem;
  border: none;
  resize: none;
}

.answerbox > form input {
  padding: 1rem 5rem;
  align-self: flex-end;
  border: none;
  border-radius: 0.5rem;
  color: white;
  background: #2D82B8;
}

.answerbox > form input:hover {
  background: #2976A7;
}

.answerbox > form input:active {
  background: #276F9D;
}

.notifbox {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid red;
}