@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.communityPageWrapper {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.mainWrapper {
  flex: 3;
  margin-top: 2rem;
}

.questionListItem {
  position: relative;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  min-height: min-content;
  padding: 18px;
  border-bottom: 1px solid #eee;
}

.questionTitle {
  margin: 0;
  padding: 0.5rem 0;
  font-family: 'Noto Serif', serif;
}

.questionTitle a {
  text-decoration: none;
  font-size: 1.05rem;
}

.questionTitle a:hover {
  text-decoration: underline;
}

.bottomBar {
  display: flex;
  color: #BBB;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.85rem;
}

.watchList {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 6px;
  list-style-type: none;
}

.notifbox {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  padding: 12px;
  border-radius: 6px;
}

.notifbox button {
  width: 100%;
  background: black;
  color: white;
  border: none;
  padding: 6px 0;
}

.watchBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: 0;
}


.sidebarWrapper {
  flex:1;
  margin: 2rem;
  min-width: 350px;
  background: white;
  height: min-content;
  padding: 1rem;
}

.topOfFeed {
  margin: 2rem 0;
}