.notifBoxWrapper {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  max-height: 400px;
  width: 300px;
  justify-content: space-between;
}

.notifBoxWrapper ul {
  list-style-type: none;
  padding: 0;
}

.notifBoxWrapper li {
  padding: 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.5rem;
  border-radius: 6px;
}

.emptyNotif {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  gap: 1rem;
  opacity: 15%;
}

.notifBoxWrapper button {
  cursor: pointer;
}

.notifBoxWrapper button:hover {
  background: #111;
}

.notifBoxWrapper button:active {
  background: #222;
}

.notifItem {
  padding: 1rem 0.5rem;
  cursor: pointer;
}

.notifItem:hover {
  background: #efefef;
}

.notifItem:active {
  background: #ddd;
}