@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.main {
  max-width: 700px;
  margin: 2rem auto;
}

.questionWrapper {
  position: relative;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--card-primary);
  min-height: min-content;
  padding: 18px;
  border-bottom: 1px solid #eee;
  border-radius: 6px;
  gap: 1.25rem;
}

.sectionTitle {
  margin: 0;
  padding-top: 0.5rem;
  font-family: 'Noto Serif', serif;
}

.bottomBar {
  color: #BBB;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.85rem;
}

.answerWrapper {
  margin-top: 1.5rem;
  position: relative;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--card-primary);
  min-height: min-content;
  padding: 18px;
  border-bottom: 1px solid #eee;
  border-radius: 6px;
  gap: 1.25rem;
}

.answers article {
  display: flex;
  height: min-content;
  flex-direction: row;
  gap: 1rem;
}

.answerer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0.5rem;
}

.answererResponse {
  flex: 3;
}

.answererName {
  margin-top: 0.5rem;
  font-weight: 600;
}

.answererTitle {
  font-style: italic;
  font-size: 0.85rem;
}

.answerbox {
  margin: 2rem 0;
}

.answerbox > form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formWrapper {
  background: #1D1D1F;
  padding: 0.5rem;
  border-radius: 12px;
  margin: 0 -1.5rem;
}

.answerbox > form textarea {
  line-height: 1.5;
  padding: 1rem;
  flex: 1;
  min-height: 10rem;
  border: none;
  resize: none;
  border-radius: 6px;
}

.answerbox > form input {
  padding: 1rem 5rem;
  align-self: flex-end;
  border: none;
  border-radius: 0.5rem;
  color: var(--button-primary);
  background: white;
  cursor: pointer;
  font-weight: 700;
}

.answerbox > form input:hover {
  text-decoration: underline;
}

.answerbox > form input:active {
  background: #eee;
}

.actionsWrapperQ{
  position: absolute;
  top:20px;
  right: 15px;
  width: 25px;
}

.actionsWrapperA{
  position: relative;
  top:10px;
  right: 0px;
  width: 25px;
}

.moreIcon {
  cursor: pointer;
  filter: invert(99%) sepia(1%) saturate(709%) hue-rotate(173deg) brightness(56%) contrast(102%);
}

.moreIcon:hover {
  filter: invert(99%) sepia(1%) saturate(709%) hue-rotate(173deg) brightness(30%) contrast(102%);
}

.moreIcon:active {
  filter: invert(99%) sepia(1%) saturate(709%) hue-rotate(173deg) brightness(10%) contrast(102%);
}

.buttonsWrapperQ {
  width: 80px;
  position: absolute;
  top: 15px;
  left: -85px;
  border-radius: 6px;
  overflow: hidden;
}

.buttonsWrapperQ button {
  width: 100%;
  padding: 5px 5px;
  border: none;
  background: #1D1D1F;
  color: white;
}

.buttonsWrapperQ button:hover {
  background: #444;
}

.buttonsWrapperA {
  width: 80px;
  position: absolute;
  top: 15px;
  left: -85px;
  border-radius: 6px;
  overflow: hidden;
}

.buttonsWrapperA button {
  width: 100%;
  padding: 5px 5px;
  border: none;
  background: #1D1D1F;
  color: white;
}

.buttonsWrapperA button:hover {
  background: #444;
}

.main [contenteditable="true"] {
  background: #fff;
  outline: 1px solid #ddd;
  background-color: #eee;
  border-radius: 3px;
  margin-right: 2rem;
  color: blue;
}